.steps {
    padding-left: 1rem;
    border-left: 4px solid var(--button-hover-background-color);
}

.single-step {
    display: flex;
    padding: 1rem;
    padding-left: 2rem;
    border-radius: var(--card-border-radius, var(--border-radius, 0));
    backdrop-filter: var(--card-backdrop-filter);
    position: relative;
}

.step-content {
    flex: 1 1 auto;
}

.grabber {
    cursor: grab;
    width: 2rem;
    backdrop-filter: var(--card-backdrop-filter);
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
}

.grabber[aria-pressed=true] {
    cursor: grabbing;
}
